body{
    background-color:darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}
header{
    padding:10px;
    color:white;
    background-color: rgb(29, 70, 70) ;
}
section{
    width:80%;
    height:100;
    background:lightgrey;
    float:right;
}
article{
    margin:10px;
    padding:10px;
    background-color: white;
    text-align:justify;}

.center{
    text-align: center;
}
.right{
    text-align: right;
}
#wrapper{background-color:rgb(29, 70, 70) ;}
.imageCenter{
    display:block;
    margin-left: auto;
    margin-right: auto ;
    width: 50%;
}
nav{
    float:left;
    width:20%;
    padding: 0;}
nav ul{
padding:8px;
margin:7px;
}

nav ul li{

    margin: 5px;
    display: block;
    padding:8px;
    margin-top:7px;
    border-bottom: 1px solid #f1f1f1;
}
nav ul li a{
    text-decoration:none;
    display:block;
    padding:5px 0px;
    color:black;
}
#nav ul li a:link{
    background-color: darkcyan;
    color: yellow}

#nav ul li a:visited{
    background-color: darkcyan;
    color: whitesmoke}
nav ul li a:hover{
    color:whitesmoke;
background-color: black;
padding:5px 0px;
    text-decoration: none;
display:block;}
    .justify{
        text-align: justify;
        margin-left:2in;
        margin-right:2in
    }
footer{
    background-color:black ;
    clear:both;
    padding:10px;
color:white;}
